* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100%;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.navbar .container  {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav_photo {
    width: 150px;
}

.nav_list {
    display: flex;
    align-items: center;
}

.nav_link {
    margin: 0 15px;
    color: #111;
    text-transform: uppercase;
    transition: .6s;
    font-weight: 400;
    font-style: normal;
}

.nav_link:hover {
    color: blue;
}

.navbar span i {
    font-size: 20px;
    margin: 0 15px;
    transition: .6s;
}

.navbar  span i:hover {
    color: green;
    cursor: pointer;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DCE5E2;
    border-radius: 30px;
    padding: 20px 20px 0px 20px;
    margin-top: 70px;
}

.main_text, .main_photo {
    width: 45%;
}

.main_text .main_title {
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
}

.main_text .main_subtext {
    font-size: 14px;
    margin: 20px 0;
}

.main_text .main_link {
    border: 2px solid black;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    transition: .6s;
}

.main_link:hover {
    background-color: black;
    color: #fff;
    
}

.main_icon_back, .main_icon_right {
    transition: .7s;
}

.main_icon_back:hover, .main_icon_right:hover {
    color: blue;
    transform: scale(2);
    cursor: pointer;
}