* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100%;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.navbar .container  {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav_photo {
    width: 150px;
}

.nav_list {
    display: flex;
    align-items: center;
}

.nav_link {
    margin: 0 15px;
    color: #111;
    text-transform: uppercase;
    transition: .6s;
    font-weight: 400;
    font-style: normal;
}

.nav_link:hover {
    color: blue;
}

.navbar span i {
    font-size: 20px;
    margin: 0 15px;
    transition: .6s;
}

.navbar  span i:hover {
    color: green;
    cursor: pointer;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DCE5E2;
    border-radius: 30px;
    padding: 20px 20px 0px 20px;
    margin-top: 70px;
}

.main_text, .main_photo {
    width: 45%;
}

.main_text .main_title {
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
}

.main_text .main_subtext {
    font-size: 14px;
    margin: 20px 0;
}

.main_text .main_link {
    border: 2px solid black;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    transition: .6s;
}

.main_link:hover {
    background-color: black;
    color: #fff;
    
}

.main_icon_back, .main_icon_right {
    transition: .7s;
}

.main_icon_back:hover, .main_icon_right:hover {
    color: blue;
    transform: scale(2);
    cursor: pointer;
}

.category h2 {
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 100px;
}

.category .category_subtext {
    font-size: 12px;
    text-align: center;
    margin: 30px auto;
    font-weight: bold;
    width: 50%;
}

.category img {
    width: 340px;
}

.category_big {
    display: flex;
    align-items: center;
}

.category_phone{
    display: flex;
}

.category_laptop, .category_phone {
    width: 45%;
}

.laptop_true {
    padding: 0 20px;
    width: 450px;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgb(36, 35, 35);
}

.laptop_true img {
    margin-left: 20px;
}

.laptop_true p, h4, .not_just p, h4 {
    text-align: right;
}

.laptop_true h4{
    font-size: 22px;
    width: 50%;
    margin-left: auto;
}

.not_just {
    display: flex;
    align-items: center;
    margin-top: 60px;
    width: 450px;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgb(36, 35, 35);
    padding: 0 20px;
}

.not_just img {
    width: 280px;
}

.not_just h4 {
    font-size: 22px;
}

.phone_life, .phone_work {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgb(36, 35, 35);
    width: 300px;
    height: 600px;
    margin-right: 60px;

}

.phone_life img {
    width: 250px;
    margin-top: 100px;
}

.phone_life p {
    text-align: center;
    margin: 20px 0;
}

.phone_life h4 {
    text-align: center;
    font-size: 22px;
    width: 70%;
    margin: auto;
}

.phone_work p {
    text-align: center;
    margin-top: 100px;
}

.phone_work h4 {
    width: 70%;
    font-size: 22px;
    text-align: center;
    margin: auto;
}

.phone_work img {
    width: 250px;
    margin-top: 50px;
}

.best_title {
    text-align: center;
    font-size: 28px;
    margin-top: 100px;
}

.best_subtext {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.best_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.best_item {
    width: 20%;
}

.best_item h4 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.best_item p{
    color: #4B4B4B;
    font-size: 14px;
}

.best_item h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
}

.best_item img {
    width: 200px;
    transition: .7s;
    
}

.best_item:hover img {
    transform: scale(1.2);
}